<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <mat-toolbar>
    <div>
      <span>Desi Zest</span>
      <a href="add"  style="padding-left:700px;" class="space">Home</a>
      <a href="join" class="space">Add restaurant</a>
      <a href="login" class="space">Login</a>
      <a href="signup" class="space">Sign up</a>
    </div>
  </mat-toolbar>
  
</body>
</html>
<router-outlet></router-outlet>