<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="page">
    <div class="main-page">
        <h1>Partner with Desi Zest<br>at 0% commission for the 1st month!</h1>
        <p class="para">And get ads worth INR 1500. Valid for new restaurant partners in select cities.</p>
        <div class="container">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <button class="btn1">Register Your Restaurant</button>
                </div>
                <div class="col-sm-4">
                    <button class="btn2">Login to View Your Existing Restaurant</button>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
       <p class="para"> Need help? Please email us at merchantonboarding &#64;desizest.com | Contact +91 97-38-38-38-38</p>
       <div class="sub-container">
        <h2 class="head1">Get started with online ordering</h2>
        <h4 class="head2">Please keep the documents ready for a smooth signup</h4>
        <div class="container">
            <div class="row">
                
                <div class="col-sm-6">
                    <ul>
                        <li>FSSAI license copy (apply now)</li>
                        <li>Regular GSTIN (apply now)</li>
                        <li>Your restaurant menu</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul>
                        <li>PAN card copy</li>
                        <li>Bank account details</li>
                        <li>Dish images for top 5 items</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    </div>
    </div>


    <div class="container3">
        <h1 class="heading">Why should you partner with Desi zsst?</h1>
        <p class="para3">Zomato enables you to get 60% more revenue, 10x new customers and boost your brand <br>visibility by providing insights to improve your business.</p>
        <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <button class="button1">
                    <a href="#"><img src="https://cdn-icons-png.freepik.com/512/3594/3594282.png?ga=GA1.1.130856907.1708071835&" style="border-radius:50%; height:50px; width:50px;"/></a>
                    <a href="#" class="aa">1000+ cities<br>
                        <span class="spana">in India</span></a>
                </button>
              </div>
              <div class="col-sm-4">
                <button class="button1">
                    <a href="#"><img src="https://cdn-icons-png.freepik.com/512/869/869432.png?ga=GA1.1.130856907.1708071835&" style="border-radius:50%; height:50px; width:50px;"/></a>
                    <a href="#" class="aa">3 Lakh+<br>
                        <span class="spana">Restaurants</span></a>
                </button>
              </div>
              <div class="col-sm-4">
                <button class="button1">
                    <a href="#"><img src="https://cdn-icons-png.freepik.com/512/3652/3652191.png?ga=GA1.1.130856907.1708071835&" style="border-radius:50%; height:50px; width: 50px;"/></a>
                    <a href="#" class="aa">5.0 crore+<br>
                        <span class="spana">monthy orders</span></a>
                </button>
              </div>
            </div>
            </div>
    </div>

    <div class="container4">
        <h1 style="color:black; padding-top:60px;">How it works?</h1>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="container5">
                        <img src="https://cdn-icons-png.freepik.com/512/12477/12477960.png?ga=GA1.1.130856907.1708071835&" class="conimg"/>
                        <h2 style="color:black; font-size:25px;">Step 1</h2>
                        <h3 style="color:black; font-size:20px;">Create your page on Desi zest</h3>
                        <p style="color:grey">Help users discover your place by creating a listing on Zomato</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="container5">
                        <img src="https://cdn-icons-png.freepik.com/512/5952/5952246.png?ga=GA1.1.130856907.1708071835&" class="conimg"/>
                        <h2 style="color:black; font-size:25px;">Step 2</h2>
                        <h3 style="color:black; font-size:20px;">Register for online ordering</h3>
                        <p style="color:grey">And deliver orders to millions of customers with ease</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="container5">
                        <img src="https://cdn-icons-png.freepik.com/512/3351/3351637.png?ga=GA1.1.130856907.1708071835&" class="conimg"/>
                        <h2 style="color:black; font-size:25px;">Step 3</h2>
                        <h3 style="color:black; font-size:20px;">Start receiving orders online</h3>
                        <p style="color:grey">Manage orders on our partner app, web dashboard or API partners</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container6">
        <h1 style="color:black;">Already have your restaurant listed?</h1>
        <p style="font-size:20px;">Search here and claim the ownership of your restaurant</p>
        <input type="text" placeholder="Search" size="40">
    </div>





    <section class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    
    
